extends layout

block content
  div(class='row')
   nav(class='navbar navbar-default navbar-fixed-top navbar-inverse', role='navigation')
     a(class='navbar-brand')
       div(class='brandname') Kirara
     div(class='col-md-3 navbar-form navbar-right')
       div(class='input-group input-group-xs')
         input(type='text', class='form-control', placeholder='', ng-model='filterOptions.filterText')
         span(class='input-group-addon')
           span(class='glyphicon glyphicon-search')
     p(class='navbar-text navbar-right') Signed in as #{username}
     ul(class='nav navbar-nav')
       li
         a(href='') File
       li
         a(href='') View
       li(class='dropdown')
         a(href='#', data-toggle='dropdown', class='dropdown-toggle') Options
           span(class='caret')
         ul(class='dropdown-menu', role='menu')
           li
             a(href='#') Preference
  div(class='row')
    div(class='row')
      div
          div(class='gridStyle', ng-grid='gridOptions', resizable, on-resize='maintainColSize()')
      div(class='tree')
        | <json-formatter class='json-formatter-dark resizable' open=1 json='treeview' ng-model=treeview></json-formatter>