extends layout

block content
  div(class='row')
   nav(class='navbar navbar-default navbar-fixed-top navbar-inverse', role='navigation')
     a(class='navbar-brand')
       div(class='brandname') Kirara
     p(class='navbar-text navbar-right') Signed in as #{username}
     ul(class='nav navbar-nav')
       li
         a(href='') File
       li
         a(href='') View
       li(class='dropdown')
         a(href='#', data-toggle='dropdown', class='dropdown-toggle') Options
           span(class='caret')
         ul(class='dropdown-menu', role='menu')
           li
             a(href='#') Preference

  div(class='row')
    div(class='col-md-12')
      div(class='alert alert-success', role='alert')

  div(class='row', ng-controller='MessageViewController')
    div(class='col-md-7 ui-widget-content', id='resizable')
        div(class='gridStyle', ng-grid='gridOptions')
    div(class='col-md-5')
        div(class='')
    div(class='clear')




                                    