body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
	width: 700px; 
    height: 650px;
    font-size: small;
}

div[resizable] {
	float: left;
}

div.tree {
	border: 1px solid;
	background: #333;
	float: left;
	width: 500px;
	height: 650px;
}
